
.manage-fees-container {
    width: 100%;
    overflow-x: hidden;
  }
  
  .manage-fees-content-box {
    padding: 10px 20px;
  }
  
  @media (min-width: 600px) {
    .manage-fees-content-box {
      padding: 20px 40px;
    }
  }
  
  @media (min-width: 900px) {
    .manage-fees-content-box {
      padding: 40px 60px;
    }
  }
  
  .currency-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3%;
    color: #73757C;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .rate-text {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3%;
    color: #73757C;
  }
  
  .table-action {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    min-width: 60px;
  }
  
  @media (min-width: 600px) {
    .table-action {
      justify-content: flex-end;
    }
  }
  

  .custom-table-container {
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: auto;
    border: 2px solid #dce7ec;
    border-radius: 24px;
  }
  